* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #34495e;
    color: #fff;
}

h2 {
    margin: 20px;
    text-align: center;
    font-size: 32px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    background: #191919;
    box-shadow: 0px 5px 20px 5px #00000070;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

th {
    background: #1c8adb;
    color: #fff;
}

tr:nth-child(even) td {
    background: #f2f2f2;
    color: #000;
}
